@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Ubuntu, Arial;
}

.clearer {
    clear: both;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: ghostwhite;
    padding: 15px;
}

nav .nav-title {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    padding: 0;
    margin-top: 20px;
}

nav li a {
    color: gray;
    font-size: 1.1em;
}

nav li:hover > div a, nav .nav-active > div a {
    color: black;
}

nav li ul {
    margin-left: 20px;
}

nav .nav-toggle {
    float: right;
    font-size: 1.2em;
    margin: 10px;
    margin-right: 30px;
}

nav .nav-hidden {
    display: none;
}

@media screen and (min-width: 750px) {
    nav {
        padding: 0;
    }

    nav .nav-toggle {
        display: none;
    }

    nav .nav-title {
        float: left;
        padding: 10px;
        margin-right: 30px;
    }

    nav > ul {
        float: left;
        padding: 0;
    }

    nav > ul > li {
        float: left;
        margin: 0 15px;
        position: relative;
    }

    nav > ul > li > div {
        padding: 20px 0;
    }

    nav > ul > li:hover > div, nav > ul > .nav-active > div{
        border-bottom: 4px solid black;
    }

    nav li:hover ul {
        display: block;
    }

    nav li ul {
        display: none;
        position: absolute;
        z-index: 2;
        background: white;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        border: 1px solid rgba(0,0,0,.55);
        border-radius: 3px;
        top: 55px;
    }

    nav li li {
        margin: 0px;
        padding: 10px;
    }

    nav .nav-hidden {
        display: block;
    }
}

hr {
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid lightgray;
}

.container {
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    max-width: 640px;
}

@media screen and (min-width: 860px) {
    .container {
        max-width: 860px;
    }
}

@media screen and (min-width: 1120px) {
    .container {
        max-width: 1120px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

@media screen and (min-width: 1900px) {
    .container {
        max-width: 1900px;
    }
}

@media screen and (min-width: 2400px) {
    .container {
        max-width: 2400px;
    }
}

@media screen and (min-width: 750px) {
    .row {
        display: grid;
        grid-template-columns: 70% auto;
        grid-gap: 20px;
    }
}

a {
    color: #0d6efd;
    transition: 0.2s;
}

a:hover {
    color: #0a58ca;
}

.left {
    float: left;
    margin: auto 10px 10px auto;
}

.gallery-image {
    border: 1px solid rgba(0,0,0,.55);
    border-radius: 3px;
    padding: 5px;
    padding-bottom: 2px;
    box-shadow: 3px 3px 6px #999999;
    position: relative;
    background-color: white;
}

img, .maps {
    border-radius: 3px;
}

.maps > div {
    margin: auto;
    text-align: center;
}

.maps > div > svg {
    width: 100px;
    height: 100px;
}

.gallery-image-title {
    z-index: 1;
    padding: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 0.8em;
    color: #212529;
    background-color: white;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.title-1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.subtitle-1 {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    margin: 10px;
}

.title-1-hr {
    border: 0;
    margin-bottom: 80px;
}

.title-2 {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

.title-3 {
    font-size: 1.4em;
}

.proc-title {
    margin-top: 20px;
    font-size: 1.3em;
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
}

.button.button-green {
    background: #198754;
    color: white;
}

.button.button-green:hover {
    background: #157347;
    color: white;
}

.accordion, .accordion-titleonly {
    background-color: #eee;
    color: #444;
    padding: 18px;
    margin-top: 4px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion {
    cursor: pointer;
}

.accordion:hover, .accordion.accordion-active, .accordion-titleonly:hover {
    background-color: #ddd;
}

.accordion::before {
    content: '+';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.accordion-active::before {
    content: '-';
}

.accordion-panel {
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 15px;
}

.accordion-panel ul {
    margin: 0;
    padding-left: 20px;
}

.accordion-panel-hidden {
    display: none;
}

.customers-logos {
    text-align: center;
}

.customers-logos img {
    height: 50px;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,.33);
    margin: 5px;
}

.footer {
    text-align: center;
    padding: 10px;
}

.footer .copyright {
    font-size: 0.8em;
}

.footer .copyright a {
    color: #000000;
}
